{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="register-form">
<h1>Sign up</h1>

{{ form.account }}
{{ form.actions }}

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
 <div class="login-link">
   Already a customer? <a href="/login"> Sign in</a>
  </div>
</div>
{# <div class="user-footer-block">
      <h4 class="title">You have an account?</h4>
  <a class="button" href="/user/login">Login</a>
  </div> #}


 