{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="password-form">
<h1>Reset your password</h1>
{{ form }}
<div class="login-link">
    <a href="/login"> Login to account</a>
  </div>
</div>
{# <div class="user-footer-block">
      <h4 class="title">Back to:</h4>
    <a class="button" href="/user/login">Login</a>
    <a class="button" href="/user/register">Register</a>

  </div> #}


 