{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="login-form">
<h1>Sign in</h1>
<div class="form_row">
  {{ form.name }}
</div>
<div class="form_row">
  {{ form.pass }}
</div>
<div class="form_row">
  <div class="forgot-link">
    <a href="/password">Forgotten your password?</a>
  </div>
</div>
<div class="form_row">
  {{ form.actions }}
</div>

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
 <div class="register-link">
   I don't have an account ? <a href="/register"> Sign up</a>
  </div>

</div>


 