@import "variables";
@mixin transform($value) {
    -webkit-transform: $value;
    transform: $value;
}

@mixin appearance($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}

//breakpoint
@mixin mquery($size) {
    @if $size == xlarge {
        @media only screen and (min-width: 1480px) {
            @content;
        }
    }
    @if $size == wrap {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }
    @if $size == large {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }
    @if $size == tab {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }
    @if $size == medium {
        @media only screen and (max-width: 1023px) {
            @content;
        }
    }
    @if $size == mobile {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }
    @if $size == small {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
    @if $size == xsmall {
        @media only screen and (max-width: 430px) {
            @content;
        }
    }
}
@mixin flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin align($position) {
    position: absolute;
    z-index:2;
    backface-visibility: hidden;
    @if $position == valign {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    @if $position == halign {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    @if $position == center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
    }
}

@mixin border-radius($radius){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@mixin transition($transition){
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin slick-arrow {
    cursor: pointer;
    font-size: 0;
    left: -65px;
    top: 50%;
    position: absolute;
    text-indent: -999px;
    overflow: unset;
    z-index: 9;
    width: 44px;
    height: 44px;
    background: #fff url(../images/left-arrow.svg) no-repeat center center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-size: 18px;
    transition: transform .3s;
    transform: translateY(-50%);
    border: none;
    padding: 0;
    border-radius: 50%;
    @include mquery(large){
        display: none!important;
    }
    &.slick-next{
        background-image: url(../images/right-arrow.svg);
        left: auto;
        right: -65px;
    }
    &:hover {
        background-color: #2ba9e0;
    }
    &.slick-disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

@mixin slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
    @include mquery(mobile){
        margin: 25px 0 0 0;
    }
    button{
        width: 24px;
        height: 4px;
        text-indent: -999px;
        overflow: hidden;
        background: #2ba9e0;
        border: none;
        margin: 5px;
        cursor: pointer;
        opacity: .3;
    }
    .slick-active{
        button{
            background: #2ba9e0;
            opacity: 1;
        }
    }
}
@mixin heading1 {
    font-family: $font-base;
    font-size: 26px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 16px;
    color: #333333;
    @include mquery(mobile){
        font-size: 20px;
    }
}

@mixin heading2 {
    font-family: $font-base;
    font-size: 29px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 16px;
    color: #333333;
    @include mquery(mobile){
        font-size: 20px;
    }
}

@mixin heading3 {
    font-family: $font-base;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 16px;
    color: #333333;
    @include mquery(mobile){
        font-size: 20px;
    }
}

@mixin list {
    margin-left: 18px;
    list-style-type: disc;
        li {
        padding-bottom: 15px;
        &:last-child{
            padding-bottom: 0;
        }
        strong {
            font-weight: 700;
        }
    }
}  

 