
//scrollbar
.mCustomScrollbar{
    -ms-touch-action: pinch-zoom;
      touch-action: pinch-zoom;
      width: calc(100% + 16px);
  }
  .mCS_no_scrollbar{
        touch-action: auto !important;
  }
  .mCustomScrollBox{
      position: relative;
      overflow: hidden;
      height: 100%;
      max-width: 100%;
      outline: none;
      direction: ltr;
  }

  .mCSB_container{
    overflow: hidden;
      width: auto;
      height: auto;
  }
  .mCSB_scrollTools{
      position: absolute;
      width: 3px;
      height: auto;
      left: auto;
      top: 0;
      right: 7px;
      bottom: 0;
  }
  .mCSB_scrollTools_horizontal{
      width: 100%;
      height: 25px;
      a{
          width: 45px;
          height: 45px;
          background: #fff;
          position: absolute;
          top: 50%;
          margin-top: -14px;
          border: none;
          z-index: 10;
          &:after{
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              margin: auto;
              -webkit-mask: url(../image/svg_icon/arrow.svg) no-repeat center;
              mask: url(../image/svg_icon/arrow.svg) no-repeat center;
              background-size: contain;
              background-color: #848996;
              width: 16px;
              height: 14px;
              border: 0;
              transition: all 0.6s;
              margin-top: 7px;
          }
          &.mCSB_buttonRight{
              right: 0;
          }
          &.mCSB_buttonLeft{
              left: 0;
              @include transform(rotate(-180deg));
              &:after{
                  margin-top: 23px
              }
          }
      }
      .mCSB_dragger_bar{
          display: none;
      }
  }
  .prev-disabled{
      .mCSB_buttonLeft{
          &:after{
          opacity: 0.3;
          }
      }
  }
  .next-disabled{
      .mCSB_buttonRight{
          &:after{
              opacity: 0.3;
              }
      }
  }
  .mCSB_scrollTools .mCSB_dragger{
      cursor: pointer;
      height: 30px;
      z-index: 1;
  }
  .mCSB_horizontal{
      z-index: 2;
      .mCSB_container{
          transition: all 0.1s ease;
          @include flex;
          justify-content: center;
          white-space: nowrap;
          flex-wrap: nowrap;
      }
  }
  
  .mCSB_scrollTools_vertical{
      .mCSB_scrollTools .mCSB_dragger{
          width: 100%;
          }
  }
  
  
  .mCSB_draggerContainer{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      background: #F5EEEC;
  }
  
  .mCSB_scrollTools .mCSB_draggerRail{
      display: none;
      width: 2px;
      height: 100%;
      margin: 0 auto;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
          background-color: #000;
      background-color: rgba(0,0,0,0.4);
      filter: "alpha(opacity=40)";
      -ms-filter: "alpha(opacity=40)";
  }
  .mCSB_dragger_bar{
      position: relative;
      width: 3px;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      background: #EAD8D3;
      border-radius: 10px;
  }
  .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{
      opacity: 0;
  }
  .mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools{
      opacity: 1
  }
  
  .mCSB_vertical{
      .mCSB_scrollTools{
          visibility: hidden;
          opacity: 0;
          transition: all 0.6s ease-out;
      }
  }
  .mCustomScrollbar{
      &:hover{
          .mCSB_vertical {
              .mCSB_scrollTools{
                  visibility: visible;
                  opacity: 1;    
              }
          }  
      }
  }
  ///scrollbar fixes for touched device* removing scroll bar on mobile///
  
  
  @media only screen and (max-width: 1024px){
      .sector-faq{
          padding-right: 15px;
      }
      .scrollable{
          overflow: auto;
      }
  }
  