{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-form layout-checkout-form clearfix">
<div class="wrapper">
  <div class="layout-region layout-region-checkout-main">
    {{ form|without('sidebar', 'actions') }}
  </div>
  <div class="layout-region layout-region-checkout-secondary">
    <h3>{% trans %} Order summary {% endtrans %}</h3>
    {{ form.sidebar }}
  </div>
  <div class="layout-region layout-region-checkout-footer">
    {{ form.actions }}
  </div>
</div>
</div>
