.region--sidebar{
    .menu--footer-account-menu{
    background-color: #f1f3f6;
    padding: 25px 0;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    .h2-head{
     display: none;
    }
    .vitoria-menu{
        .menu--level-1{
            .menu__item--level-1{
            padding-bottom: 20px;
            margin-bottom: 20px;
            padding-left: 25px;
            padding-right: 25px;
            border-bottom: 1px solid #80808038;
            text-transform: uppercase;
            &:nth-of-type(2) a:nth-of-type(1) {
                background: url(/themes/contrib/vitoria/images/right-arrow.svg) no-repeat 99% 6px/15px auto;
            }
            &:last-child{
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
                text-transform: none;
            }

                a{
                    font-size: 16px;
                    color: #878787;
                    position: relative;
                    padding-left: 50px;
                    transition: color 0.3s ease;
                    transition: all .3s ease-in;
                    transform: translateX(0);
                    &:hover{
                        color:  #2ba9e0;
                        transform: translateX(5px);
                    } 
                    &.is-active {
                        color: #2ba9e0;
                    }

                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-8 w-8 text-blue-500' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E") no-repeat 0 50% / 25px 25px;
                        width: 25px;
                        height: 25px;
                        background-size: 25px;
                    }
                }
                &:nth-of-type(2) a:nth-of-type(1) {
                    &::before{
                        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 12 20 22 4 22 4 12'/%3E%3Crect x='2' y='7' width='20' height='5'/%3E%3Cline x1='12' y1='22' x2='12' y2='7'/%3E%3Cpath d='M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z'/%3E%3Cpath d='M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z'/%3E%3C/svg%3E") no-repeat 0 50% / 25px 25px;
                    }
                }
                &:nth-of-type(3) a:nth-of-type(1) {
                    &::before{
                        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12'/%3E%3Cpath d='M20 12v4h-4a2 2 0 0 1 0 -4h4'/%3E%3C/svg%3E") no-repeat 0 50% / 25px 25px;
                    }
                }
                &:nth-of-type(4) a:nth-of-type(1) {
                    &::before{
                        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-8 w-8 text-gray-500' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2'/%3E%3Cpath d='M7 12h14l-3 -3m0 6l3 -3'/%3E%3C/svg%3E") no-repeat 0 50% / 25px 25px;
                    }
                }
            }
        }           
        .menu__item--has-children{
         .menu--level-2{
            text-transform: none;
            li{                
                a{
                    color: #333333;
                    font-size: 14px;
                    padding-top: 20px;
                    &:hover{
                        color:  #2ba9e0;
                    } 
                    &.is-active {
                        color: #2ba9e0;
                    }  
                    &::before{
                        display: none;
                    }
                }
            }
         }
        }
    }
    }
}

// orders list //

.order-list-outer{
    .item-list{
        h3{
            display: none;
        }
    }
 .order-list, .order-item-list{
    background-color: #f1f3f6;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #80808017;
    .order-card{
        display: flex;
        width: 100%;
        @include mquery(mobile){
            display: block;
        }
        .order-img{
            width: 20%;
            padding-right: 20px;
            @include mquery(mobile){
                width: 100%;
                padding-right: 0;
                padding-bottom: 15px;
            }
        }
        .order-detail{
            width: 30%;
            padding-right: 25px;
            @include mquery(mobile){
                width: 100%;
                padding-right: 0;
                padding-bottom: 15px;
            }
            .order-id{
                color: #333333;
            }
            .order-info{
                display: flex;
                padding-top: 15px;
                .order-size{
                    color: #878787;
                    font-size: 12px;
                }
                .order-color{
                    color: #878787;
                    font-size: 12px;
                    padding-right: 20px;
                }
            }
        }
        .order-price{
            width: 15%;
            padding-right: 20px;
            color: #333333;
            @include mquery(mobile){
                width: 100%;
                padding-right: 0;
                padding-bottom: 15px;
            }
        }
        .order-status{
            width: 35%;
            color: #333333;
            @include mquery(mobile){
                width: 100%;
            }
            .order-state{
             padding: 10px 0;
             color: #28a745;
             display: inline-block;
            }
        }
    }
 }
 .views-exposed-form {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding-bottom: 15px;
    @include mquery(mobile){
    display: block;
    }
    .js-form-type-textfield{
    margin-bottom: 0;
    width: 50%;
    @include mquery(mobile){
    width: 100%;
    margin-bottom: 20px;
    }
    input{
    border-radius: 25px;
    }
    }
    .js-form-type-select{
    width: 25%;
    @include mquery(mobile){
    width: 100%;
    }
    label{
    font-weight: 700;
    }
    select{
    border-radius: 25px;
    }
    }
    .form-actions{
    svg{
    display: none;
    }
    }
    }
    
}

// coupon //
.coupon{
    background-color: #f1f3f6;
    margin-bottom: 20px;
    padding: 25px;
    border: 1px solid #80808017;
    .coupon-inner{
        display: flex;
        justify-content: space-between;
        @include mquery(mobile){
            display: block;
        }
        .coupon-left{
          .coupon-name{
          color: #28a745;
          margin-bottom: 15px;
          }
          .coupon-valid-date{
            @include mquery(mobile){
            margin-bottom: 15px;
            }
          }
        }
        .coupon-right{

          .coupon-date{
           margin-bottom: 15px;
           color: #878787;
          }
          .coupon-tc{
            color: #2ba9e0;
            text-align: right;
            @include mquery(mobile){
                text-align: left;
            }
          }
        }
    }
}

// order detail //
  
.biling-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
    margin: 20px auto;
    border: 1px solid #e6e6e6; 
  
    h4 {
      font-size: 18px;
      font-weight: 600;
      color: #111; 
      margin-bottom: 15px;
      border-bottom: 1px solid #ddd; 
      padding-bottom: 10px;
    }
  .billing-info-inner{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include mquery(mobile){
        display: block;
        gap: 0;
    }
    .billing-profile {
        @include mquery(mobile){
            margin-bottom: 15px;
        }
        p.address{
            line-height: 1.6;
        }
    } 
    .billing-sec-title{
        margin-bottom: 8px;
        color: #000;
        font-weight: 700;
    }
    .billing-method{
        @include mquery(mobile){
            margin-bottom: 15px;
        }
    }
} 
  }
.order-confirmation{ 
.view-content{   
.order-details-list {
.order-placed{
    text-align: end;
    padding-top: 10px;
    span{
      font-weight: 700;
    }
}
 }
}
}

  
  