.page-node-type-page{
    background: #F8FAFF;
    h1.title.page-title{
       @include heading2;
        // margin-top: 55px;
        // @include mquery(mobile){
        //     margin-top: 30px;
        // }
    }
}
.basic-page,.page-node-type-page article.node >.node__content{
    margin-bottom: 55px;
    @include mquery(mobile){
        margin-bottom: 30px;
    }
    img{
    width: 100%;
    margin-bottom: 24px;
    }   
    p,ul,h3,h4 {
        margin-bottom: 15px;
    }
    h3,h4 {
        @include heading3;
        font-size: 1.2em;
        margin-bottom: 20px;
        margin-top: 35px;
        @include mquery(mobile){
            margin-top: 0;
        }
    }
    ul{
    @include list;
    }
}