.cart-section {
    padding-top: 20px;
    padding-bottom: 40px;
    @media only screen and (max-width: 600px) {
        overflow-x: auto;
        max-width: 100%;
        margin: unset;
        padding: unset;
        }
    
    table{
        width: 100%;
        thead{
            text-transform: uppercase;
            background: #f5f5f5;
            
            th{
                text-align: center;
                border: none;
                padding: 8px;
                color: #444444;
                font-size: 14px;
                font-weight: 600;
                background-color: unset;
            }
        }
        tbody{
            tr{
                
                td{
                    text-align: center;
                    border: none;
                    padding: 20px;
                    color: #333333;
                    font-size: 13px;
                    border-bottom: 1px solid #eeeeee !important;
                    a{
                        color: #333333;
                        &:hover{
                            color:#007bff;
                        }
                    }
                    input{
                        padding: 12px 20px 12px 20px;
                        border: 1px solid #e1e1e1;
                        background-color: transparent;
                        outline: none !important;
                        max-width: 100%;
                        border-radius: 50px;
                    }
                    
                }
                .views-field-field-image{
                    img{
                        @media only screen and (max-width: 600px) {
                            max-width: unset;
                        }
                    }
                   
                }
                 
                .views-field-remove-button{
                    input{
                        padding: 10px 20px;
                        background: transparent;
                        border: none;
                        background-image: url(/themes/contrib/vitoria/images/close.webp);
                        background-repeat: no-repeat;
                        background-position: center center;
                        text-indent: -9999px;
                        background-color: transparent !important;
                        background-size: 20px;
                        padding: 8px;
                        box-shadow: none;
                    }
                }  

            }
            
        }
    }
    .order-total-line {
        padding: 10px;
        text-align: right;
        .order-total-line-value{
            width: 116px;
        }
    }
    .order-total-line__total{
        background-color: #efefef;
    }
    .form-actions {
        margin-top: 1em;
        margin-bottom: 1em;
        .button{
            font-size:13px;
            margin-right: 10px;
        }
    }
    
}