// brand logo section
.brand-logo-outer {
  padding-bottom: 60px;
  @include mquery(mobile){
    padding-bottom: 40px;
  }

  .slick-slide {
    padding: 0 15px;
    li{
      a{
        img{
          opacity: 0.6;
          &:hover{
            opacity: unset;
          }
        }
      }
    }
  }
}
.banner-section {
  position: relative;
  .banner-content {
    position: absolute;
    left: 11%;
    right: 0;
    top: 20%;
    &.bottom {
      bottom: 36px;
      @include mquery(small) {
        bottom: 20px;
        top: auto;
        transform: none;
      }
    }
    @include mquery(medium) {
      bottom: 70px;
    }
    @include mquery(small) {
      top: 10px;
    }
    > .wrapper {
      position: relative;
    }
    .banner-content-inner {
      display: flex;
      align-items: center;
      .left-content {
        width: 40%;
        @include mquery(tab){
          width: 50%;
        }
        @include mquery(small){
          width: 50%;
        }
        h4{
          font: bold 20px/22px $font-base;
          font-weight: 500;
          margin-bottom: 10px;
          color: #555555;
          @include mquery(small){
            font-size: 14px;
            margin-bottom: 5px;
            line-height: 14px;
          }
        }
        h1,
        h2 {
          font: bold 30px/34px $font-base;
          color: #333333;
          position: relative;
          font-weight: 600;
          @include mquery(tab){
            font-size: 20px;
            line-height: 24px
          }
          @include mquery(small) {
            font-size: 18px;
            line-height: 1;
            margin-bottom: 8px;
          }
          span {
            color: #2ba9e0;
          }
        }
        p {
          font: 500 14px/24px $font-base;
          color: #555555;
          position: relative;
          margin-bottom: 15px;
          @include mquery(small) {
            font-size: 12px;
            margin-bottom: 8px;
            line-height: 12px;
          }
        }
        .banner-button {
          a {
            padding: 12px 30px;
            background-color: #2ba9ee;
            background-image: linear-gradient(133deg, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2));
            border: 1px solid #2ba9ee;
            font-size: 16px;
            color: #fff;
            font-weight: 600;
            font-family: $font-base;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 50px;
            transition: all .5s ease-out;
            -webkit-appearance: none;
            appearance: none;
            font: 500 14px/24px $font-base;
            @include mquery(mobile){
              padding: 6px 12px;
              font: 500 12px/20px $font-base;
            }
            @include mquery(small){
              padding: 2px 12px;
              font: 500 12px/20px $font-base;
            }
            &:hover {
              background-color: #333333;
              color: #fff;
              border: 1px solid #333333;
            }
          }
        }
      }
      .right-img {
        width: 40%;
        padding-left: 20px;
        @include mquery(tab){
          width: 50%;
        }
      }
    }
  }
}

// Hero slider

.hero-slider-outer {
  padding-top: 20px;
  @include mquery(mobile){
    padding-top: 40px;
  }
    
  .item-list {
    display: flex;
    justify-content: flex-end;
    .slick-slider {
      width: 75%;
      @include mquery(mobile) {
        width: 100%;
      }
      &:hover{
        .slick-arrow {
            display: block!important;
        }
}
      .slick-arrow {
        left: 10px;
        display: none!important;
      }
      .slick-arrow.slick-next {
        right: 10px;
        left: auto;
      }
    }
  }
}

// new product section

.product-sec {
  .block__title {
    max-width: 1270px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 26px;
  }
}
.product-outer {
  padding-bottom: 60px;
  @include mquery(mobile){
    padding-bottom: 40px;
  }
  .slider-box-sec {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
    &:hover{
        .slick-arrow{
            display: block!important;
        }
    }
    li {
      width: calc(20% - 24px);
      position: relative;
      .flag-wishlist.action-flag, .flag-wishlist.action-unflag{
        a{
        display: block;
        width: 30px;
        height: 30px;
        background: url(../images/wishlist.png) no-repeat;
        background-size: contain;
        text-indent: -9999px;
        overflow: hidden;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        margin: 20px 20px 10px 20px;
        transition: 0.2s ease-in-out; 
        }
      }
      .flag-wishlist.action-unflag{
        a{
          background: url(../images/red-wishlist.png) no-repeat;
          background-repeat: no-repeat;  // Ensure no-repeat is applied
          background-size: contain;

        }
      }
      .product-img {
        padding: 20px;
        .field--name-field-image {
          img {
            width: 100%;
          }
        }
      }
      .field--name-price {
        padding: 0px 15px 0 15px;
        text-align: center;
        color: #2ba9e1;
        font-size: 16px;
        font-weight: 700;
      }
      .product-rating {
        padding: 5px 15px 0 15px;
        text-align: center;
        .field--name-field-rating {
          display: inline-block;
        }
        form {
          .form-item__description {
            display: none;
          }
          input {
            display: none;
          }
        }
      }
      .product-title {
        padding: 5px 15px 5px 15px;
        text-align: center;    
        a{
        font-weight: 500;
        color: #000;
        &:hover {
          color: #2ba9e0;
        }
      }
      }
      .product-content {
        padding: 5px 15px 15px 15px;
        text-align: center;
        .product-variations {
          .field--name-variations {
            .field__item {
              form {
                .field--name-purchased-entity {
                  .attribute-widgets {
                    .product--rendered-attribute {
                      margin-bottom: 10px;
                      &:last-child{
                        margin-bottom: 20px;
                      }
                      .fieldset__legend{
                        display: none;
                      }
                      .fieldset__wrapper--group{
                      .form-boolean-group {
                        display: flex;
                        justify-content: center;
                        .form-item-purchased-entity-0-attributes-attribute-size {
                            .product--rendered-attribute__selected
                              ~ label.option {
                              border: 1px solid #2ba9e0;
                              border-radius: 10px;
                              padding: 2px 10px;
                            }
                          
                        }
                          .form-item-purchased-entity-0-attributes-attribute-color {
                            .product--rendered-attribute__selected
                              ~ label.option {
                              border: 1px solid #2ba9e0;
                              border-radius: 8px;
                              padding-bottom: 0;
                                  margin-right: 5px;

                            }
                                  .color_field__swatch{
                          border-radius: 50%;
                          display: block;
                        }
                         }
                      }
                    }
                    }
                  }
                }
                .form-actions {
                    visibility: hidden;
                    opacity: 0;
                    @include mquery(mobile){
                      visibility: visible;
                      opacity: 1;
                    }
                }
                .field--name-quantity {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .slick-track {
      display: flex;
      align-items: inherit;
      .slick-slide {
        border: 1px solid #f2f2f2;
        height: auto;
        position: relative;
        &:hover{
            li .product-content .product-variations .field--name-variations .field__item form .form-actions {
              position: relative;
              visibility: visible;
              opacity: 1;
            }
          }
      }
    }
    .slick-arrow {
      left: 29px;
      display: none!important;
    }
    .slick-arrow.slick-next {
      right: 29px;
      left: auto;
    }
  }
}
// new featured product section //
.new-featured-product{
  .slider-box-sec {
    li{
      width: calc(25% - 24px);
      margin: 12px;
      border: 1px solid #f2f2f2;
      @include mquery(mobile){
        width: calc(100% - 24px);
      }
      &:hover{
          .product-content .product-variations .field--name-variations .field__item form .form-actions {
            position: relative;
            visibility: visible;
            opacity: 1;
          }
        }
    }
  }
 }

 // popular categories //
 .popular-categories-outer {
  padding-bottom: 60px;
  .popular-list{
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
    li{
      width: calc(12.5% - 24px);
      margin: 12px;
      @include mquery(mobile){
        width: calc(33.33% - 24px);
      }
      &:hover{
        .popular-wrapper{
          .popular-img{
            img{
              transform: scale(0.98);
            }
          }
        }
      }
      .popular-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .popular-img{
          border-radius: 50%;
          background-color: #fff;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
          overflow: hidden;
          transition: 0.3s;
          img{
            width: 100%;
            border-radius: 50%;
          }
        }
        .popular-name{
          margin-top: 5px;
          text-align: center;
          line-height: 20px;
          a{
            color: #333333;
            font-weight: 500;
            &:hover{
              color: #2ba9e0;
            }
          }
        }
      }
    }
  }
 }

 // promotion section //
 .promotion-sec-outer{
  padding-bottom: 60px;
  .promotion-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
    @include mquery(mobile){
      display: block;
    }
    li{
      width: calc(33.33% - 24px);
      margin: 12px;
      @include mquery(mobile){
        width: calc(100% - 24px)!important;
      }
      &:hover{
        .promotion-sec {
          .promotion-img{
            overflow: hidden;
            img{
              transform: scale(1.03);
              transition: transform .5s ease;
              
            }
          }
        }
      }
      &:nth-child(3){
        .promotion-sec {
        .promotion-content {
        right: unset;
        left: 0;
        text-align: left;
        }
      }
      }
      @include mquery(medium){
        width: 100%;
      }
 .promotion-sec {
  position: relative;
  .promotion-img{
    img{
      width: 100%;
      position: relative;
      
      @include mquery(mobile){
        min-height: 180px;
      }
    }
    &::after{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
  .promotion-content {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    width: 360px;
    text-align: right;
    padding: 15px 40px;
    @include mquery(mobile){
      text-align: left;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
    }
    @include mquery(small){
      width: 210px;
     }
    .promotion-content-wrapper{
      .promotion-title, h1,h2{
          font: bold 25px/26px $font-base;
          font-weight: 600;
          color: #333333;
          position: relative;
          margin-bottom: 8px;
          @include mquery(small){
            font-size: 22px;
            line-height: 1;
          }
          span{
            color: #2ba9e0;
          }
        }
        p{
          font: 500 14px/24px $font-base;
          color: #d2c9c9;
          padding-top: 3px;
          position: relative;
          @include mquery(small){
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 5px;
          }
        }
        .button{
          margin-top: 15px;
          @include mquery(small){
            padding: 2px 12px;
            margin-top: 5px;
          }
          a {
            color: #fff;
            font: 500 14px/24px $font-base;
          }
        }
      }
  }
}
  }
}
}
.promotion-sec-outer.two-tiles{
  .promotion-list{
    padding: 0;
    margin: -12px;
    li{
      width: calc(50% - 24px);
    }
  }
}

 // simple news subscriber //
 .simplenews-subscriber-form{
  background-color: #2ba9e0;
  // background-image: linear-gradient(133deg, rgba(255,255,255,0.01), rgba(0,0,0,0.2));
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  @include mquery(mobile){
    display: block;
  }
  &::before,
  &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 0;
      top: 0;
  }

  &::before {
      left: -100%;
      background-color: #2ba9e0;
  }
  &::after {
    right: -100%;
    background-color: #2ba9e0;
    background-image: linear-gradient(133deg, rgba(255,255,255,0.01), rgba(0,0,0,0.2));
}
h2{
  color: #fff;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 500;
  position: relative;
  padding-left: 66px;
  &::before{
    content: '';
    position: absolute;
    background: url(../images/email.png) no-repeat;
    width: 44px;
    height: 44px;
    background-size: 44px;
    left: 6px;
    top: -2px;
  }
  @include mquery(mobile){
    margin: 0 15px;
  }
}
form{
  position: relative;
  .form-actions{
    right: 0;
    position: absolute;
    top: 0;
    @include mquery(mobile){
      right: 10px;
    }
  }
  .field--type-email {
    width: 595px;
    @include mquery(mobile){
      max-width: 360px;
      padding-left: 10px;
      margin-top: 30px;

    }
    label, .form-item__description{
    display: none;
    }
    input{
      border-radius: 50px;
      border: 1px solid #e1e1e1;
      height: 48px;
    }
  }
  .form-actions{
    .button{
      background-color: #fff;
      background-image: linear-gradient(133deg, rgba(255,255,255,0.01), rgba(0,0,0,0.2));
      color: #333333;
      font-size: 13px;
      font-weight: 500;
      border: 1px solid #e1e1e1;
      padding: 15px 70px;
      &:hover{
        background-color: #333333;
        color: #fff;
        border: 1px solid #333333;
      }
    }
  } 
}
 }

 #block-vitoria-calltoorder{
  @include mquery(mobile){
    display: none;
  }
 }

 // 
 .cart--cart-block{
  position: relative;
 .cart-block--summary{
  position: relative;
  .cart-block--link__expand{
    .cart-block--summary__icon{
      filter: brightness(0.5);
      img{
        width: 25px;
        height: 40px;
      }
    }
    .cart-block--summary__count{
      display: inline-block;
    position: absolute;
    top: -4px;
    right: 2px;
    line-height: 1;
    width: auto;
    height: auto;
    background-color: #2ba9e0;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    padding: 3px 5px;
    color: #ffffff;
    }
  }
 }
 .cart-block--contents{
  border-radius: 2px;
  width: 300px;
    right: 0;
    padding: 5px;
    margin-top: 24px;
    color: #555555;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    text-align: left;
 }
 .cart-block--contents__expanded{
  .cart-block--contents__inner{
    .cart-block--contents__items{
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 300px;
      font-size: 12px;
      .cart-block{
          table{
            border-collapse: collapse;
             tbody{
              tr{
                border-bottom: 1px solid #f3f3f3;
                color: #555555;
                font-size: 12px;
                .views-field-field-image{
                  img{
                    height: 50px;
                    max-width: 50px;
                  }
                }
                td{
                  border: none;
                  color: #555555;
                  font-size: 12px;
                  padding: 8px 5px;
                }
              }
             }
             
          }
      }
    }
    .cart-block--contents__links{
      font-weight: 600;
      margin-bottom: 10px;
      text-align: right;
      padding: 5px;
      line-height: normal;
     a{
      border-radius: 50px;
      padding: 0 25px;
      background-color: #2ba9e0;
      color: #ffffff;
      height: 40px;
      line-height: 40px;
      text-align: center;
      display: block;
     }
    }
  }
 }
 }
 