.sidebar-grid{
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-y: auto;
    display: flex;
    @include mquery(mobile){
        display: block;
    }
.vitoria-main{
width: 75%;
@include mquery(mobile){
    width: 100%;
    padding-top: 20px;
}
.product-catlog{
    .slider-box-sec {
        margin: 0;
        @include mquery(medium){
            display: block;
          }
        li{
            width: calc(25% - 24px);
          border: 1px solid #f2f2f2;
          margin: 12px;
          &:hover{
              .product-content .product-variations .field--name-variations .field__item form .form-actions {
                position: relative;
                visibility: visible;
                opacity: 1;
              }
            }
            @include mquery(medium){
            width: 33.33%;
          }
          @include mquery(mobile){
            width: 100%;
            margin:0 0 12px 0;
          }
          .product-img{
            @include mquery(mobile){
              width: 50%;
              margin: auto;
            }
          }
        }
      }
     }
}

.region--sidebar{
 width: 25%;
 padding-right: 30px;
 @include mquery(mobile){
    width: 100%;
    padding-right: 0;
}
 .block-facet-blockproduct-categories, .block-facet-blockproduct-brand{
 padding-bottom: 35px;
 }
 .block-facet--checkbox {
    h2{
        font-size: 18px;
        color: #333333;
        font-weight: 500;
        letter-spacing: -1px;
    }
    .block__content{
        .facets-widget-checkbox{
            max-height: 213px;
            overflow: auto;
            .js-facets-checkbox-links {
                .facet-item{
                    // display: flex;
                    // align-items: center;
                    // padding-bottom: 5px;
                    position: relative;
                    input{
                        &::after{
                            border: 2px solid red !important;
                         }
                    }
                    .facets-checkbox{
                     width: 20px;
                     height: 20px;
                     cursor: pointer;
                    //  border: 2px solid #babad3!important;
                     &::after{
                        border: 2px solid red !important;
                     }
                    }

                    label{
                      padding-bottom: 0;
                      color: #2a2a2a;
                      font-size: 14px;
                      padding-left: 40px;
                      cursor: pointer;
                      position: absolute;
                      top: 0;
                    }
                    [type="checkbox"]:disabled + label {
                    color: #777777;
                    }
                    }
                }
            }
        }
    }

 }
}