{#
/**
 * @file
 * Template for an Image Zoom gallery.
 *
 * Available variables:
 * - image: The display image.
 * - thumbs: An array of thumbnail images.
 */
#}

<div class="product-big">{{ image }}</div>

<div id="imagezoom-thumb-wrapper" class="imagezoom-slider"> 
  <ul>
  {% for thumb in thumbs %}
  <li>
    {{ thumb }}
  </li>
  {% endfor %}
    </ul>

</div>
