.vitoria-footer {
  background-color: #19212c;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 25px;
  .region--footer_top__inner {
    display: flex;
    width: 100%;
    @include mquery(mobile){
      display: block;
    }
    .block-block-content {
      width: 30%;
      padding-right: 30px;
      @include mquery(mobile){
        width: 100%;
      }
      .margin-bottom-20 {
        margin-bottom: 20px;
        img {
          border-radius: 8px;
          max-width: 110px;
        }
      }
      p {
        margin-bottom: 20px;
      }
    }
    .block-menu {
      width: 17.5%;
      padding-right: 20px;
      @include mquery(mobile){
        width: 100%;
      }
      &:last-child {
        padding-right: 0;
      }
      h2, .h2-head{
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
        margin-bottom: 16px;
      }
      .menu{
        li{
          margin-bottom: 12px;
          a{
          color: #ffffff;
          &:hover{
            color: #2ba9e0;
          }
        }
        }
      }
    }
  }
  .region--footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
    @include mquery(mobile){
      display: block;
      padding-top: 30px;
    }
    .block-block-content{
      P{
        @include mquery(mobile){
          padding-bottom: 20px;
        } 
      }
    }
  }
}
