.Vitoria-header {
  position: sticky;
  // top: -153.5px;
  top:calc(-127.8px + var(--drupal-displace-offset-top, 0px));
  z-index: 99;
  background-color: #fcfcfc;

  .header-top-outer {
    box-shadow: 0px 1px 1px #00000014;
    .region--header-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mquery(small){
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px 0 0 0;
        align-items: center;
        justify-content: center;
    
      }
    }
  }

  .header-mid-outer {
    padding: 25px 0;
    .region--header-mid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .site-branding-logo {
        img {
          max-width: 75px;
        }
      }
      .call-to-order {
        p {
          font-size: 11px;
          color: #555555;
          font-weight: 800;
        }
        h4 {
          font-size: 18px;
          color: #333333;
          line-height: 23px;
        }
      }
    }
  }

  .primary-menu {
    background-color: #19212e;
    
    @include mquery(mobile){
        min-height: 40px;
    }
    .category-menu-wrapper{
      display: flex;
      .block-facets {
        position: relative;
        width: 282px;
        margin-right: 30px;
        &.sticky{
          .facets-widget-links{
            display: none !important;
          }
        }
        h2{
          background-color: #2ba9e0;
          background-image: linear-gradient(133deg, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2));
          display: flex;
          cursor: pointer;
          padding: 0 25px;
          margin: 0;
          transition: 0.3s;
          line-height: 50px;
          color: #fff;
          font-size: 17px;
          position: relative;
          &::after{
            content:"";
            background-image: url(/themes/contrib/vitoria/images/hamburger.svg);
            background-repeat: no-repeat;
            width:20px;
            height:20px;
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translate(0, -50%);
            background-size: cover;
          }
      }
      .facets-widget-links{
        background-color: #ffff;
        border: 1px solid #eaeaea;
        padding: 15px 23px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50px;
        .facet-item{
          line-height: 1.5;
          a{
            color: #333333;
            line-height: 50px;
          }
        }
      }
        }
      }
    
    .h2-head{
        display: none;
    }
    .navigation.menu--main {
      .primary-nav__menu--level-1 {
        display: flex;
        @include mquery(mobile){
            display: none;
        }

        li {
          line-height: 3.6;
          position: relative;
          // padding: 20px 0;

          a {
            color: #fefefe;
            font-size: 14px;
            display: block;

            &:hover {
              color: #49c3f9;
            }
          }
        }
        .primary-nav__menu-item--level-1 {
          a {
            padding-right: 35px;
          }
        }
      }
      .primary-nav__menu .primary-nav__menu--level-2 {
        background-color: #ffff;
        border: 1px solid #eaeaea;
        padding: 15px 23px;
        width: 282px;
        display: none;
        position: absolute;
        left: 0;
        top: 51px;
        li {
            padding: 0 0 10px 0;
            @include mquery(mobile){
                padding: 0 0 15px 0;
            }
          a {
            color: #333333;
            font-size: 13px;
            display: block;
            font-weight: 500;

            &:hover {
              color: #49c3f9;
            }
          }
        }
      }
      .primary-nav__button-toggle {
        display: none;
      }

      // .primary-nav__menu-item--has-children:after {
      //   content: "+";
      //   position: absolute;
      //   align-self: center;
      //   color: #fff;
      //   font-weight: bold;
      //   top: 20px;
      //   right: 23px;
      //   @include mquery(mobile){
      //       color: #000;
      //   }
      // }
      // .primary-nav__menu li:hover ul {
      //   list-style: none;
      //   display: block;
      //   color: white;
      //   z-index: 1;
      // }
    }
  }
  @include mquery(mobile) {
    .burger-container {
        float: right;

        #burger {
            width: 18px;
            height: 8px;
            position: relative;
            display: block;
            margin: 0 auto;
            top: 10px;

            .bar {
                width: 100%;
                height: 2px;
                display: block;
                position: relative;
                background: #fff;
                transition: all .3s cubic-bezier(0.4, .01, .165, .99);
                transition-delay: 0s;
                margin: 1px;

                &.topBar {
                    @include transform(translateY(0px) rotate(0deg));
                }

                &.middleBar {
                    @include transform(translateY(3px) rotate(0deg));
                }

                &.btmBar {
                    @include transform(translateY(6px) rotate(0deg));
                }
            }
        }
    }

    #menu {
        display: none;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        position: fixed;
        top: 181px;
        left: 0;
        right: 0;
        background-color: #fff;
        transition: max-height 0.5s ease-in-out;
        z-index: 1000;
        overflow: auto;
        padding-bottom: 180px;

        &.menu-opened {
            max-height: 100%;
            height: 100vh;
            .burger-container {
                #burger {
                    .bar.btmBar {
                        @include transform(translateY(3px) rotate(-54deg));
                    }

                    .bar.topBar {
                        @include transform(translateY(6px) rotate(50deg));
                    }
                }
            }
        }
        ul.menu {
            position: relative;
            padding: 0 28px 20px;
            text-align: center;
            &.primary-nav__menu--level-1{
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 100vw;
                padding-top: 15px;
                li{
                    a{
                        color: #333333;
                    }
                }
            }
            &.primary-nav__menu--level-2{
                @include mquery(mobile){
                    width: 100%;
                    position: absolute;
                    z-index: 9999;
                    // height: 100vh;
                    top: 43px;
                    left: 0;
                    overflow: auto;
                    background: #fff;
                    padding-top: 50px;
                    padding-bottom: 90px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                }
            }

            @include mquery(mobile) {
                padding: 0 20px;
            }
        }
    }
}


}

// css for search bar
.block-views-exposed-filter-blockproduct-catalog-page-1{
  margin-left: 12%;
  @include mquery(mobile){
    margin-left: 0;
    width: 70%;

  }
form{
  border: 1px solid #eaeaea;
  display: flex;
  border-radius: 58px;
  max-width: 600px;
  position: relative;
  .form-item-field-product-categories{
    width: 35%;
    margin-bottom: 0 !important;
    select{
      color: #555555 !important;
      width: 75%;
      border: none;
      padding: 12px 12px;
      margin-left: 16px;
      height: 100%;
    }
  }
  .form-item-keyword-search{
    margin-bottom: 0 !important;
    input{
      border: none;
      padding: 12px 20px;
      color: #555555 !important;
      height: 100%;
    }
  }
  .form-wrapper{
    height: 100%;
    position: absolute;
    right: 0;
    svg{
      // position: absolute;
      position: relative;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      filter: invert(1);
      /* background: #D4561F; */
      // z-index: 999;
      z-index: -1;
    }
    input{
      margin-left: 56px;
      border-radius:  0 50px 50px 0;
      padding: 12px 0px;
      height: 100%;
      width: 50px;
      font-size: 0;    
      background-image: url(/themes/contrib/vitoria/images/search-icon.png);
      background-repeat: no-repeat;
      background-size: 28px;
      background-position: 7px 7px;
    }
  }
}
}

// account  menu
.menu--account{
  position: relative;
  &:hover{
    .vitoria-menu, .menu-opened{
    display: block;
    }
  }
 .h2-head{
  color: #495057;
  font-weight: 500;
  background: url(../images/arrow-down.svg) no-repeat 99% 13px / 8px auto;
  padding: 7px 16px 8px 0;
  &:hover{
    cursor: pointer;
    }
}
.vitoria-menu, .menu-opened{
  position: absolute;
  z-index: 9;
  transform: translate3d(0px,30px, 0px);
  top: 0;
  left: 0px;
  float: left;
  min-width: 10rem;
  color: rgb(33, 37, 41);
  text-align: left;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  padding: 0.5rem 0px;
  margin: 0.125rem 0px 0px;
  border: 1px solid #00000026;
  border-radius: 0.25rem;
  display: none;
  ul{
     li{
      &:hover{
      cursor: pointer;
      background-color: rgb(246, 246, 246);
      }
      a{
        display: block;
        line-height: 40px;
        font-size: 14px;
        padding: 0px 15px;
        color: #000;
        font-weight: 500;
      }
     }
  }
}

// // account  menu
// .menu--account{
//   position: relative;
//   &:hover{
//     .vitoria-menu, .menu-opened{
//     display: block;
//     }
//   }
//  .h2-head{
//   color: #495057;
//   font-weight: 500;
//   background: url(../images/arrow-down.svg) no-repeat 99% 13px / 8px auto;
//   padding: 7px 16px 7px 0;
//   &:hover{
//     cursor: pointer;
//     }
// }
// .vitoria-menu, .menu-opened{
//   position: absolute;
//   transform: translate3d(0px,30px, 0px);
//   top: 0;
//   left: 0px;
//   float: left;
//   min-width: 10rem;
//   color: rgb(33, 37, 41);
//   text-align: left;
//   background-color: rgb(255, 255, 255);
//   background-clip: padding-box;
//   padding: 0.5rem 0px;
//   margin: 0.125rem 0px 0px;
//   border: 1px solid #00000026;
//   border-radius: 0.25rem;
//   display: none;
//   ul{
//      li{
//       &:hover{
//       cursor: pointer;
//       background-color: rgb(246, 246, 246);
//       }
//       a{
//         display: block;
//         line-height: 40px;
//         font-size: 14px;
//         padding: 0px 15px;
//         color: #000;
//         font-weight: 500;
//       }
//      }
//   }
// }
// }
}


.search-container {
  position: absolute;
  top:36%;
  right:8%;
}

.search-icon-mobile {
  display: none;
}



/* Show the search input when the class is added */
.search-input.show {
  display: inline-block;
}
#block-vitoria-exposedformproduct-catalogpage-1.show{
  display:inline-block;
  width:55%;
  #views-exposed-form-product-catalog-page-1{
    overflow: hidden;
    #edit-keyword-search{
      font-size:12px;
    }
    .form-item-field-product-categories {
      display:none;
      
    }
  }
  
}
/* Media query for mobile devices */
@media (max-width: 480px) {
  /* On larger screens, always show the search input and hide the icon */
  .search-input {
      display: inline-block;
  }
  #block-vitoria-exposedformproduct-catalogpage-1{
    display:none;
  }
  
  .search-icon-mobile {
    display: block;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .header-mid-outer{
    position: relative;
  }
}