.width100 {
  width: 100% !important;
}

.hide {
  display: none !important;
}

.pointer-none {
  pointer-events: none !important;
}

.link-over {
  position: absolute !important;
  font-size: 0 !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 3 !important;
}

a {
  text-decoration: none;
  outline: none;
  color: #2ba9e0;
  transition: all .3s ease-in;
}

strong {
  font-weight: 700
}

.medium {
  font-weight: 500 !important
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}

h1,
.h1 {
  @include heading1;
}

h2,
.h2 {
  @include heading2;
}

h3,
.h3 {
  @include heading2;
}

h4,
.h4 {
  font-size: 16px;
  line-height: 1.5;
}

/** Selection Styling ********/
::-moz-selection {
  color: #fff;
  background: #000;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #000;
  text-shadow: none;
}

//********Default Form Styling
/* Placeholder Text */
::-webkit-input-placeholder {
  /* Webkit Browsers */
  color: #000;
  opacity: .7;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  opacity: .7;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  opacity: .7;
}

:-ms-input-placeholder {
  /* IE10 */
  color: #000;
  opacity: .7;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 100ms 100ms ease;
  opacity: 0;
}

[placeholder]:focus::-moz-placeholder {
  transition: opacity 100ms 100ms ease;
  opacity: 0;
}

[placeholder]:focus::-moz-placeholder {
  transition: opacity 100ms 100ms ease;
  opacity: 0;
}

[placeholder]:focus::-ms-input-placeholder {
  transition: opacity 100ms 100ms ease;
  opacity: 0;
}

.white-bg {
  background: #fff !important;
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/search.svg) no-repeat center center;
  background-size: 22px;
  width: 25px;
  height: 25px;
  z-index: 1;
  cursor: pointer;
}

.contact-message-feedback-form {
  .form-type-boolean{
    display: flex;
    align-items: center;
    label{
      padding-bottom: 0;
    }
  }
}
.form-item {
  margin-bottom: 20px;
  position: relative;
}

.form-text,
.form-date,
.form-textarea,
.form-select,
.form-email,
.form-tel,
.form-file,
.custom-select>a {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 0;
  padding: 16px 14px;
  background-color: #fff;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 400;
  color: #0E112C;

  &:focus {
    border-color: #2ba9e0;
  }
}

label {
  display: block;
  font-size: .9em;
  padding-bottom: 7px;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 14px) center;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  padding-right: 35px !important;
  text-overflow: ellipsis;
  color: #333333;
}

textarea {
  resize: none;
  height: 150px;

  @include mquery(mobile) {
    height: 100px;
  }
}

.text-center {
  text-align: center !important;
}

.head-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .view-all {
    white-space: nowrap;
    color: #2ba9e0;
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .heading2,
  .heading3 {
    margin: 0;
  }
}

.head {
  margin-bottom: 40px;

  @include mquery(mobile) {
    margin-bottom: 30px;
  }
}

.tags {
  background: #2ba9e0;
  color: #fff;
  font-size: 0.8em;
  font-weight: 500;
  padding: 4px 10px;
  max-width: 200px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

/* Lists */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  margin-left: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0;

  >li {
    padding-left: 3px !important;

    &:before {
      display: none;
    }
  }

  li {
    margin-top: 10px;

    &::marker {
      font-weight: 700;
    }
  }
}

iframe {
  max-width: 100%;
}

p,
li {
  line-height: 1.6;
}

.overflow-hidden {
  overflow: hidden !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.visually-hidden {
  display: none;
}


.slick-track {
  margin-left: initial;
  margin-right: initial;
}

.slick-arrow {
  @include slick-arrow;
}

.slick-dots {
  @include slick-dots;
}

.list {
  @include list;
}

main {
  min-height: 700px;
  overflow: hidden;
  position: relative;

  @include mquery(mobile) {
    min-height: 500px;
  }
}

.link {
  color: #2ba9e0;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.disabled {
  pointer-events: none !important;
  opacity: .5;
}

.button {
  padding: 12px 30px;
  background-color: #2ba9ee;
  background-image: linear-gradient(133deg, rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.2));
  border: 1px solid #2ba9ee;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  font-family: $font-base;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  transition: all .5s ease-out;
  -webkit-appearance: none;
  appearance: none;
 
  &.small {
    padding: 6px 15px;
    font-size: 14px;

    @include mquery(mobile) {
      padding: 5px 10px;
      font-size: 14px;
    }
  }

  &:hover {
    background-color: #333333;
    color: #fff;
    border: 1px solid #333333;
  }

  &:focus {
    background-color: #333333;
    color: #fff;
  }

  &.border {
    background: #fff;
    border: 1px solid #2ba9ee;
    color: #333333;

    &:hover {
      border-color: #333333;
    }

    &:focus {
      background-color: #2ba9ee;
      border-color: #2ba9ee;
      color: #333333;
    }
  }
}

.heading2 {
  @include heading2;
}

.heading3 {
  @include heading3;
}

.ajax-progress-throbber .throbber {
  width: 1.125rem;
  height: 1.125rem;
  border-width: 2px;
  border-color: #2494db transparent #2494db #2494db;
}

.ajax-progress-throbber .throbber,
.ajax-progress-fullscreen:before {
  animation: olivero-throbber 0.75s linear infinite;
  border-style: solid dotted solid solid;
  border-color: #2494db transparent #2494db #2494db;
  border-radius: 50%;
}

@keyframes olivero-throbber {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.ajax-progress.ajax-progress-throbber {
  width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  vertical-align: middle;
  margin-right: 10px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  .throbber {
    background-image: url("/themes/contrib/vitoria/images/throbber.gif");
    background-size: contain;
    width: 100px;
    height: 100px;
  }

  .message {
    display: none;
  }
}

.messages {
  color: #4a4a4a;
  margin: 20px auto;
  padding: 15px;
  border-radius: 20px;
}

.messages--warning {
  background-color: #fdf8ed;
  border: 1px solid #f4daa6;
  color: #734c00;
  border-radius: 20px;
}

.messages--error {
  background-color: #fcf4f2;
  border: 1px solid #f9c9bf;
  color: #a51b00;
  border-radius: 20px;
}

.messages--status {
  background-color: #f3faef;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #325e1c;
  border-radius: 20px;
}

.success-message {
  background-color: #f3faef;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #325e1c;
  margin: 20px 0;
  padding: 15px;
  border-radius: 20px;
}

label.form-required:after {
  content: '*';
  color: #FF0000;
  display: inline-block;
  vertical-align: 0.08em;
  font-size: 14px;
  padding-left: 1px;
}

.error-message,
.err-result {
  min-height: 1px !important;
  clear: both !important;
  margin-top: 5px !important;
  font-size: .9em !important;
  color: #ff3838;
  display: block;

  #email_ajax_form,
  #mobile_number_ajax_form,
  #last_name_ajax_form,
  #first_name_ajax_form,
  #full_name_ajax_form,
  #appointment_date_ajax_form,
  #declaration_ajax_form,
  #hospital_ajax_form {
    padding-top: 5px;
  }

  #declaration_ajax_form {
    padding-left: 27px;
  }
}

//Pager
.pager {
  // float: left;
  // display: inline-block;
  position: relative;

  @include mquery(mobile) {
    display: flex;
    overflow: auto;
  }

  .pager__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 0;
    @include mquery(mobile) {
      width: 100%;
      margin: 30px 0 0 0;
      justify-content: center;
    }

    li,
    li>a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      font-weight: 500;
      white-space: nowrap;
      min-width: 38px;
      height: 38px;
      color: #2ba9ee;
      border-radius: 50px;

      @include mquery(mobile) {
        min-width: 30px;
        height: 30px;
      }

      a {
        margin: 0 6px;

        @include mquery(mobile) {
          // margin: 0;
        }

        &:hover {
          background: #2ba9ee;
          color: #fff;
        }
      }

      &.pager__item--previous,
      &.pager__item--next {
        a {

          .visually-hidden {
            display: block;
          }

          svg {
            display: none;
          }
        }
      }

      &.pager__item--active {
        background: #2ba9ee;
        color: #ffffff;
      }

      &.pager__item--first,
      &.pager__item--last {
        a {
          .visually-hidden {
            display: block;
          }

          svg {
            display: none;
          }
        }
      }

      &.pager__item--first,
      &.pager__item--last,
      &.pager__item--next,
      &.pager__item--previous {
        a {
          font-size: 0.8em;
          border: 1px solid #2ba9ee;
          padding: 5px 10px;
          font-weight: 500;
        }
      }

    }
  }
}

//hide title
.hide-title {
  .block-page-title-block {
    .title {
      display: none;
    }
  }
}


// common msg error css //
.messages-list {
  .messages__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include mquery(mobile) {
      display: block;
      position: relative;
    }

    .messages__header {
      display: none;
    }

    .messages__content {
      padding-right: 15px;
    }

    .messages__button {
      .messages__close {
        border: none;
        background: url(../images/cross-red-icon.svg) no-repeat;
        width: 20px;
        height: 20px;
        background-size: 20px;
        cursor: pointer;
        filter: grayscale(1);

        @include mquery(mobile) {
          position: absolute;
          top: 0;
          right: 0;
        }

        .visually-hidden {
          display: none !important;
        }
      }
    }
  }
}

// Breadcrumb //
.breadcrumb {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;

  ol {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 12px 0;
    border-bottom: 1px solid rgba(44, 44, 44, 0.1);
    margin: 0;

    @include mquery(mobile) {
      overflow-x: auto;
      overflow-y: hidden;
    }

    li {
      font: 14px/19px $font-base;
      color: #333333;
      position: relative;
      padding-right: 22px;
      margin: 0;
      white-space: nowrap;

      &:last-child {
        &::after {
          display: none;
        }
      }

      &::after {
        content: "";
        top: 60%;
        margin-left: 10px;
        border: solid #2c2c2c;
        border-width: 0 1px 1px 0;
        padding: 2px;
        transform: translateY(-50%) rotate(-45deg);
        -webkit-transform: translateY(-50%) rotate(-45deg);
        position: absolute;
      }

      a {
        color: #2ba9e0;
      }
    }
  }
}
.messages_wrapper{
  max-width: 1250px;
  margin: 0 auto;}
// scrollbar //

  /* WebKit browsers */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
    border-radius: 10px; 
  }

  ::-webkit-scrollbar-thumb {
    background: #9d9c9c; /* color of the scrollbar thumb */
    border-radius: 10px;
  }

.primary-button {
  cursor: pointer;
  background-color: #2ba9e0;
  color: #ffffff;
  line-height: 48px;
  font-size: 13px;
  font-weight: 600;
  padding: 0 28px;
  border: none !important;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  transition: all 0.2s linear 0s;
  margin-top: 30px;
  outline: 0 none;
  text-align: center;
  width: 100%;
  @include mquery(mobile){
    line-height: 39px;
    font-size: 12px;
    margin-top: 20px;
  }


  &:hover {
    background-color: #2c2c2c;
  }
}

.path-login, .path-register, .path-password {
  main{
    min-height:100vh;
    background-color:#0093FF ;
  }
  .header-top-outer{
    display: none;
  }
  
}



// breadcrumb
.breadcrumb-wrapper{
  background-color: #f7f7f7;
  margin-bottom: 40px;

  
}
.region--content-above {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  font-size: 20px;
  max-width: 1250px;
  margin: 0 auto;
  .breadcrumb__list{
      border-bottom: none !important;
      li{
          a{
              color: #aaaaaa !important;
              font-size: 14px;
              &:hover{
                  color: #2ba9e0 !important;
              }
          }
      }
  }
}

.page-title{
  padding: 15px 0;
  margin-top: 0;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.02);
  font-size: 20px;
  max-width: 1250px;
  margin: 0 auto;
  @media only screen and (max-width: 1024px) {
      font-size: 16px;
      margin: 0 auto 0 15px;
      }
      @include mquery(mobile){
        display: none;
      }
}
//common-table
table{
  background: #EDEDED;
  width: 100%;
  border: none;
  border-collapse: separate; 
  border-spacing: 0;
  caption{
      margin-bottom: 10px;
      text-align: center;
      font-weight: 600;
  }
  tr, td, th{
      font: 500 14px/21px $font-base;
      color: #221E20;
      border: none;
      @include mquery(mobile){
      font-size: 14px;
      }
  }
  tr {
      th {
          font: 700 14px/21px $font-base;
          color: #fff;
          padding: 10px 20px;
          text-align: center;
          //white-space: nowrap;
          background-color: #2ba9ee;
          border-right: 1px solid #EDEDED;
      }
      td {
          padding: 10px 20px;
          background-color: #fff;
          text-align: left;
          //white-space: nowrap;
          border-right: 1px solid #E5E6F0;
          border-bottom: 1px solid #E5E6F0;
          &:first-child{
              border-left: 1px solid #E5E6F0;
          }
      }
  }
}

// add to cart widget
.ui-widget {
  border-radius: 10px !important;
  .ui-dialog-titlebar {
    text-transform: uppercase;
    border-radius: 10px;
    &::before{
      background-image: url("/themes/contrib/vitoria/images/shopping-cart.svg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 20px;
      width: 20px;
      position: absolute;
    }
    .ui-dialog-title{
      margin-left: 30px;
    }
  }
  .ui-dialog-buttonset {
    justify-content: center;
    padding: 5px 0 !important;
    button{
      background-color: #2ba9ee;
    color: white;
    border: none;
    padding: 10px 20px;
    }
  }
  .ui-dialog-content{
    height: 100px !important;
    text-align: center;
    & > div:first-child{
      padding: 15px 40px;
      line-height: 27px;
      color: #554d4d;
      a{
        color: #2ba9e0 !important;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.product-variations{
  .commerce-order-item-add-to-cart-form{
    .messages-list {
      .messages__container {
        
        .messages__content {
          a{
            &:hover{
              text-decoration: underline !important;
            }
          }
        }
    
        .messages__button {
          .messages__close {
            border: none;
            background: url(../images/cross-red-icon.svg) no-repeat;
            width: unset;
            height: 11px !important;
            background-size: 10px !important;
            cursor: pointer;
            filter: grayscale(1);
    
          }
        }
      }
    }
    .messages{
      padding:8px;
      
    }
   }
}
